
* {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    text-align: center;
    font-family: monospace;
    margin: 5px;
    padding: 5px;
    overflow: visible;
    /* border: 3px solid black; */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 0;
    margin: 0;
    
    width: 100vw;
    background-color: rgba(113, 79, 50, 0.432);

}

h1 {
    font-size: 4rem;
}

main {
    padding: 20px 40px;
    max-width: 350px;
    border-radius: 20px;
    box-shadow: 0 0 50px black;
    background-color: rgb(132, 110, 61);
}

button,
input {
    border-radius: 10px;
    border: 3px solid black;
}

main p {
    overflow-x: auto;
}

#showList,
#outName {
    font-size: 2.2em;
    overflow: auto;
}