
* {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    text-align: center;
    font-family: monospace;
    margin: 5px;
    padding: 5px;
    /* border: 3px solid black; */
}

*::placeholder {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bolder;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 0;
    margin: 0;
    
    width: 100vw;
    background-color: rgba(255, 153, 0, 0.63);
}

h1 {
    font-size: 4rem;
}

main {
    padding: 20px 40px;
    border-radius: 20px;
    background-color: rgb(160, 123, 80);
    box-shadow: 0 0 50px black;
    max-width: 350px;
    font-size: 25px;
}

button,
input {
    border-radius: 10px;
    border: 3px solid black;
}

main p > * {
    overflow-x: auto;
    font-size: 10px;
}

#showList {
    font-size: 20px;
}

footer {
    font-size: 25px;
}

.back-to-main {
    font-weight: bolder;
    font-family: monospace;
    font-size: 20px;
    transition: .5s;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    box-shadow: 0 0 5px #000;

    margin: 10px 5px 0;
    padding: 5px 15px;
}

.back-to-main:hover {
    letter-spacing: 2px;
    transition: .5s;
}