* {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    font-family: monospace;
    /* border: 2px solid #000; */
    text-align: center;
    cursor: default;
}

body {
    /* height: 100vh; */
    /* background-color: rgb(12, 171, 255); */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5em;
}

button,a {
    cursor: pointer;
}

header,
main,
footer {
    margin: 20px;
}

header {
    font-size: larger;
    margin-top: 30px;
}

main {
    position: relative;
    box-shadow: 0 0 10px 5px #000;
    border-radius: 20px;
    margin: 0 20px;
    padding: 0 5px;

    background: rgb(96, 125, 139);

    height: fit-content;
    min-width: fit-content;
    width: 35%;
    max-width: 800px;
}

main > * {
    margin: 10px 0;
}

main > img {
    border-radius: 50%;
    box-shadow: 0 0 5px #000;
    width: 230px;
}

main p input,
button {
    padding: 10px 20px;

    box-shadow: 0  0 5px #000;
    border-radius: 10px;
    height: 100%;
    width: 150px;
    font-weight: bolder;
    letter-spacing: 2px;
}

output {

    font-size: 1.5em;
    font-family: cursive;
    font-weight: bolder;

}

#sticker {
    width: 300px;
    border-radius: 50%;
    margin-top: 20px;
}

main h2 {
    padding: 0 15px;
    font-size: 2em;
}

.back-to-main {
    font-weight: bolder;
    font-family: monospace;
    font-size: 20px;
    transition: .5s;
    border-radius: 10px;
    border: none;
    background-color: rgb(99, 152, 201);
    box-shadow: 0 0 5px #000;

    margin: 10px 5px 0;
    padding: 5px 15px;
}

.back-to-main:hover {
    letter-spacing: 2px;
    transition: .5s;
}
/* #ti-kapecula {
    animation: agita-agita-abana-abana .5s ease-in-out 1s alternate infinite;
} */