



* {
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
    text-transform: capitalize;
    font-family: monospace;
    text-align: center;
    /* border: 3px solid #ed3; */
}

body {
    background-color: rgb(167, 180, 255);
    /* padding: 5px; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 10px;
    width: fit-content;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    background-color: rgba(75, 85, 87, 0.5);
    box-shadow:0 0 100px rgb(0, 0, 0);
    transition:1s;
}

.container:hover {
    background-color: rgb(255, 255, 255);
    box-shadow:0 0 300px rgb(0, 0, 0);
    transition:1s;
}

.container * {
    padding: 3px;
    font-size: 3rem;
}

h1 {
    font-size: 4em;
}

footer {
    font-size: 2.5em;
}

.sexo,
.idade {
    white-space: nowrap;
    width: 90%;
    font-size: 100%;
}

@media (max-width:520px) {
    * {
        overflow: auto;
    }

    .sexo,
    .idade {
        white-space: normal;
    }

    .sexo > *,
    .idade > *{
        display: block;
        margin: auto;
    }

    footer {
        font-size: 3px;
    }
}

button {
    font-weight: bolder;
    font-family: monospace;
    font-size: 20px;
    transition: .5s;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    box-shadow: 0 0 5px #000;

    margin: 10px 5px 0;
    padding: 5px 15px;
}

button:hover {
    letter-spacing: 2px;
    transition: .5s;
}